.paper {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.paper.small {
    box-shadow: 5px 5px 5px rgba(155, 155, 155, .5);
}

.paper.medium {
    box-shadow: 10px 10px 5px rgba(155, 155, 155, .5);
}

.paper.large {
    box-shadow: 15px 15px 5px rgba(155, 155, 155, .5);
}
