.alert {
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

.alert-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert-message {
    font-size: 16px;
}

.alert-info {
    background-color: rgba(100, 100, 200, .8);
    border-bottom-color: rgba(50, 50, 200, .8);
}

.alert-success {
    background-color: rgba(100, 200, 100, .8);
    border-bottom-color: rgba(50, 200, 50, .8);
}

.alert-warning {
    background-color: rgba(155, 80, 20, .8);
    border-bottom-color: rgba(200, 80, 20, .8);
}

.alert-danger {
    background-color: rgba(200, 100, 100, .8);
    border-bottom-color: rgba(200, 50, 50, .8);
}
